@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-VariableFont_wght.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Comfortaa-light";
  src: url("./fonts/Comfortaa-VariableFont_wght.ttf");  
}
body{
  font-family: "Comfortaa-light";  
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
